<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <!-- Additional meta tags, stylesheets, or scripts can be added here -->
</head>
<body>
    <h1> SignIn</h1>
    <form method="post" action="/signin/" >
        {% csrf_token %}
        <label for="username"> Username : </label><br>
        <input type="text" id="username" name="username" placeholder="Enter User Name" Required>
        <br>
        <br>
        <label for="password"> Password : </label><br>
        <input type="password" id="pass1" name="pass1" placeholder="Enter Password" Required>
        <br>
        <br>
        <button type='submit'>SignIn</button>
    </form>
</body>
</html>
